Você é um assistente especializado. Use o contexto abaixo para responder.

{{if .MySlice}}Contexto:
{{ range .Results }}{{ .Article.Title }}
    {{ .SanitizedContent }}
{{ end }}{{ end }}
Pergunta:
{{ .Question }}
